@model List<Setting>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/AdminArea/Views/Shared/_AdminLayout.cshtml";
    int count = 1;
}


<div class="container">
    <div class="row">
        <div class="header d-flex justify-content-between mt-3">
            <h1>
                Bio
            </h1>
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            Number
                        </th>
                        <th>
                            Key
                        </th>
                        <th>
                            Value
                        </th>
                        <th>
                            Settings
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var value in Model)
                    {
                        <tr>
                            <td>
                                @count
                            </td>
                            <td>
                                @value.Key
                            </td>
                            <td>
                                @value.Value
                            </td>
                            <td>
                                <a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@value.Id">
                                    <i class="mdi mdi-credit-card"></i>
                                </a>
                            </td>
                        </tr>
                        count++;
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
